@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --text: #e0e4fd;
 --background: #01020f;
 --primary: #7684f5;
 --secondary: #970b92;
 --accent: #ee16a2;
}

body {
  background: var(--background);
  color: var(--text);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text);
}

input {
  color: var(--background);
}

button {
  background: var(--accent) ;
  color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}